{%load static%}
{% load crispy_forms_tags %}


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

<section class="vh-100">
    <div class="container py-5 h-100 animate__animated animate__backInLeft">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5 bg-dark">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-light">Eliminar producto</h3>
                        <div class="alert alert-danger" role="alert">
                            <h1>¡ATENCIÓN!</h1>
                            <p><strong>Está a punto de eliminar un producto</strong></p>
                            <h4>Producto a eliminar:
                                <div>
                                    ID: {{producto.id}}
                                </div>
                                <div>
                                    Nombre: {{producto.nombre}}
                                </div>
                            </h4>
                        </div>

                        <div>
                            <input type="button" value="Eliminar producto" data-bs-toggle="modal"
                                data-bs-target="#myModal" class="btn btn-danger text-light">
                            <a href='{% url "productos" %}' role='button' class="btn btn-light border">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Confirmar eliminación</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar el juego?</p>
                <p>ID: {{producto.id}}</p>
                <p>NOMBRE: {{producto.nombre}}</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" data-bs-dismiss="modal" value="Confirmar eliminación">
                </form>
            </div>

        </div>
    </div>
</div>