{% load static %}
{% load crispy_forms_tags %}

    
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
    />

<div class="col-auto">
    <a href="{% url 'agregarproducto' %}" class="btn btn-dark mt-3 mx-5">Agregar producto</a>
</div>

<div class="table-responsive my-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="bg-dark text-white">ID</th>
                <th class="bg-dark text-white">Nombre</th>
                <th class="bg-dark text-white">Descripción</th>
                <th class="bg-dark text-white">Stock</th>
                <th class="bg-dark text-white">Precio</th>
                <th class="bg-dark text-white">Imágen</th>
                <th class="bg-dark text-white">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for p in productos %}
                <tr>
                    <td>{{p.id}}</td>
                    <td>{{p.nombre}}</td>
                    <td>{{p.descripcion}}</td>
                    <td>{{p.cantidad}}</td>
                    <td>${{p.precio}}</td>
                    <td>
                        <img src="{{p.imagen.url}}" class="img-fluid rounded-3" style="width: 65px;" alt="imagen-producto">
                    </td>
                    <td class="text-center">
                        <a href="{% url 'modificarproducto' p.id %}">
                            <button type="button" class="btn btn-primary d-inline-block mx-1 my-1">Editar</button>
                        </a>

                        <a href="{% url 'eliminarproducto' p.id %}">
                            <button type="button" class="btn btn-danger d-inline-block mx-1 my-1">Eliminar</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>